.steps-container {
  position: relative;

  /* Make fixed child elements relative to this element! */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 640px) {
  .steps-container {
    margin-right: -1rem;
  }
}