.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.grid h2 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.card {
  padding: 1rem;

  box-shadow: var(--card-shadow);
  background: white;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.progress-card {
  padding: 1rem;

  box-shadow: var(--card-shadow);
  background: white;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.meter-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.meter-container progress {
  flex: 1;
}

.list-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  cursor: pointer;
}

.list-item:hover {
  text-decoration: underline;
}

.list-item.selected {
  font-weight: bold;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
}