.container {
  position: relative;
  display: inline-flex;
}

.field {
  width: 100%;
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-gutter: stable;

  z-index: 20;
  background: rgb(var(--card-background-rgb));
  border: 1px solid rgb(var(--text-rgb), 0.2);
  font-family: monospace;
  font-size: 1rem;
}

.list-item {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.list-item:hover {
  background: rgb(var(--text-rgb), 0.05);
}

.list-item:active {
  background: rgb(var(--text-rgb), 0.1);
}

.list-item.selected {
  background: rgb(var(--text-rgb), 0.2);
}

.list-item.unknown {
  font-weight: normal;
  font-style: italic;
}

@media screen and (max-width: 640px) {
  .list {
    font-size: 0.8rem;
  }
}