.proof-row {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
}

.proof-row input:placeholder-shown {
  background: rgb(var(--text-rgb), 0.1);
  border-color: rgb(var(--text-rgb), 0.4);
  opacity: 0.5;
}
.proof-row input:placeholder-shown::placeholder {
  color: rgb(var(--text-rgb), 0.7);
}

.proof-row.error {
  color: rgb(var(--error-color-rgb));
}

.proof-row.error input {
  border-color: rgb(var(--error-color-rgb));
  background-color: rgb(var(--error-background-rgb));
}

.proof-row.correct {
  color: rgb(var(--correct-color-rgb));
}

.proof-row.correct input {
  border-color: rgb(var(--correct-color-rgb));
  /* background-color: rgb(var(--correct-background-rgb)); */
}

.number {
  position: fixed;

  width: 3rem;
  padding-right: 0.25rem;
  left: 0;
  transform: translateX(calc(-100%));

  display: flex;
  align-items: center;
  justify-content: end;

  font-family: monospace;
  font-size: 1rem;
  user-select: none;
}

.statement-input {
  flex-grow: 1;
}

.rule-args-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  width: 300px;
  flex-shrink: 0;
}

.rule-name {
  flex-grow: 1;
}

.argument-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60px;
}

.context-dots {
  display: none;
}

.actions {
  position: absolute;
  right: 0;
  transform: translateX(100%);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  padding-left: 0.5rem;

  color: rgb(var(--text-rgb));
  border-radius: 4px;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid;
  border-color: rgb(var(--text-rgb), 0.2);
  background: none;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 2px;
  padding: 0;

  visibility: hidden;
}

.action-button.delete {
  border-color: rgba(var(--error-color-rgb), 0.2);
  color: rgb(var(--error-color-rgb));
  background: rgb(var(--error-background-rgb));
}

.action-button.drag {
  width: auto;
  border: none;
  cursor: grab;
}

.action-button:hover {
  background: rgb(var(--text-rgb), 0.1);
}

.action-button.delete:hover {
  background: rgba(var(--error-color-rgb), 0.2);
}

.action-button.drag:hover {
  background: none;
}

/* .proof-row:hover,
.proof-row:hover .number {
  background: rgb(var(--hover-line-rgb));
} */

input:focus ~ .actions button,
.proof-row:hover .actions button,
.actions:hover button {
  visibility: visible;
}

input:focus ~ .actions,
.proof-row:hover .actions {
  background: rgb(var(--card-background-rgb));
}

.proof-row:hover .error-message,
.error-message:hover {
  display: block;
}

fieldset {
  padding: 0;
  border-radius: 2px;
  position: relative;
  display: flex;
  min-width: 0;
  margin-top: -12px;
  border: 1px solid rgb(189, 189, 189);
}

fieldset legend {
  font-size: 0.7rem;
  z-index: 1;
  padding-bottom: 10px;
  pointer-events: none;
}

fieldset input[type=text] {
  border: none;
  width: 100%;
  margin-top: -14px;
  outline: none;
}

@media screen and (max-width: 640px) {
  .context-dots {
    display: block;
  }
  
  .actions {
    display: none;
  }

  .statement-input {
    flex-grow: 0;
    width: 0%;
    flex: 1;
  }

  .rule-args-container {
    width: 175px;
    gap: 0.25rem;
  }

  .argument-container {
    width: 40px;
    padding: 0;
  }

  input[type=text] {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: 0.8rem;
    letter-spacing: -0.5px;
  }
}