.container {
  position: absolute;
  top: 6rem;
  right: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 200px;
  padding: 1rem;

  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.show {
  position: absolute;
  top: 6rem;
  right: 1rem;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

.list-item {
  height: unset;
  padding: 0.25rem;
  font-size: 0.75rem;
}

.list-item:nth-child(5),
.list-item:nth-child(13),
.list-item:nth-child(18),
.list-item:nth-child(23),
.list-item:nth-child(25) {
  grid-column: 1;
}