.proof-box {
  display: flex;
  flex-direction: row;

  /* padding: 0.25rem;
  padding-left: 1.25rem;
  padding-right: 0; */

  margin: 0.25rem;
  margin-right: 0;
  margin-right: 0.25rem;

  border: 1px solid black;
  /* border-right: none; */
}

.proof-box.error {
  border-color: rgb(var(--error-color-rgb));
  background-color: rgb(var(--error-background-rgb));
}

.drag {
  margin-right: -0.25rem;
  width: 1.5rem;
  flex-shrink: 0;

  cursor: grab;
  background: none;
  border: none;
  opacity: 0;
}

.drag:hover {
  opacity: unset;
}

.children-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  /* overflow: hidden; */

  padding: 0.25rem;
  padding-right: 0;
  padding-left: 0;
}