.table {
  display: grid;
  grid-template-columns: auto auto auto 60px;
  gap: 0.5rem 0;
}

.table > * {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
}

.table > *:nth-child(1),
.table > *:nth-child(2),
.table > *:nth-child(3),
.table > *:nth-child(4) {
  padding: 0.5rem 0;
  border-bottom: 2px solid black;
}

.shortcut-container {
  padding: 0.25rem 0;
  padding-bottom: 0;
}

.shortcut {
  display: inline-flex;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 0.5em;
  border-radius: 2px;
}

.usage-container {
  text-align: right;
}

.usage {
  border: none;
  background: none;
  text-decoration: underline;
}