.header {
  display: flex;
  gap: 4rem;
  padding: 0.5rem 1rem;

  color: rgb(247, 241, 217);
  background: rgb(57, 71, 69);
}

.logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  color: inherit;
  font-weight: bold;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.links a {
  color: inherit;
  text-decoration: underline;
}