.proof-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
}

.proof-row input:placeholder-shown {
  background: #dadada;
  border: 1px solid black;
  border-radius: 2px;
  opacity: 0.5;
}
.proof-row input:placeholder-shown::placeholder {
  color: #777;
}

.proof-row.error input {
  border: 1px solid;
  border-radius: 2px;

  color: rgb(255, 0, 0);
  border-color: red;
  background-color: rgb(255, 240, 240);
}

.proof-row input,
.rule-name,
.number {
  font-family: monospace;
  font-size: 1rem;
}

.number {
  position: absolute;
  left: 0;
  width: 2rem;

  display: flex;
  align-items: center;
  justify-content: end;

  user-select: none;
}

.statement-input {
  flex-grow: 1;
}

.rule-args-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  width: 300px;
  flex-shrink: 0;
}

.rule-args-container > * {
  width: 60px;
}

.rule-name {
  flex-grow: 1;
}

.actions {
  position: absolute;
  right: 0;
  transform: translateX(100%);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.actions button {
  visibility: hidden;
}

.proof-row:hover {
  background: #dadada;
}

.proof-row:hover .actions button,
.actions:hover button {
  visibility: visible;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
}