.container {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0.25rem;

  height: 2em;

  font-size: 0.75rem;
  border: 1px solid;
  border-color: rgb(var(--text-rgb), 0.2);
  border-radius: 2px;
}

.container.disabled {
  opacity: 0.5;
}

.button {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: none;
  border: none;
}

.button:disabled {
  cursor: default;
}

.button:not(:disabled):hover {
  background: rgb(var(--text-rgb), 0.05);
}

.button:not(:disabled):active {
  background: rgb(var(--text-rgb), 0.1);
}

.divider {
  height: 1rem;
  border-left: 1px solid rgb(var(--text-rgb), 0.2);
}

.divider:last-child {
  display: none;
}