* {
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --card-shadow: 0 0.5rem 2rem -1rem rgba(0, 0, 0, 0.3);

  --background-rgb: 249, 251, 253;

  --error-color-rgb: 255, 50, 50;
  --error-background-rgb: 255, 240, 240;

  --correct-color-rgb: 50, 150, 50;
  --correct-background-rgb: 240, 255, 240;

  --hover-line-rgb: 243, 231, 210;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(163, 163, 163);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(126, 126, 126);;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */

  min-height: 100vh;
  background: rgb(var(--background-rgb));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin-bottom: 0;
  margin: 0;
}

h3 {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  cursor: pointer;
}

.action-button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  padding: 0.5em 1em;
  height: 2.5em;

  font-size: 0.85rem;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  background: none;
  border-radius: 2px;
}

.action-button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.action-button:active {
  background: rgba(0, 0, 0, 0.1);
}

.action-button.danger {
  background: rgb(var(--error-background-rgb));
  color: rgb(var(--error-color-rgb));
  border-color: rgba(var(--error-color-rgb), 0.5);
}

.action-button.danger:hover {
  background: rgba(var(--error-color-rgb), 0.1);
}

.action-button.danger:active {
  background: rgba(var(--error-color-rgb), 0.2);
}

.close-button {
  position: absolute;
  right: 1rem;
  top: 1rem;

  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: none;
  border: none;
  font-weight: bold;
  transition: background 100ms;
}

.close-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.close-button:active {
  background: rgba(0, 0, 0, 0.2);
}

input[type=text] {
  min-width: 0;
  padding: 0.25rem 0.5rem;

  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgb(189, 189, 189);
  border-radius: 2px;
  color: inherit;
  font-family: monospace;
  font-size: 1rem;

  /* border: none;
  border-bottom: 2px dotted rgba(150, 100, 0, 0.4); */
}

input[type=text]::placeholder {
  color: #bbb;
}

.paper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 70vh;
}

.paper {
  position: relative;
  padding: 6rem;
  padding-top: 4.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
  width: 100%;
  max-width: 1000px;
}

.paper.invisible {
  background: none;
  border: none;
  padding: 0 2rem;
}

.paper > h1 {
  margin-top: 0;
}

@media screen and (max-width: 640px) {
  .paper {
    padding: 0 2rem;
    border: none;
    margin-top: -3rem;
    background: none;
  }

  h1 {
    font-size: 2.5em;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}