.table {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.25rem 0.5rem;
  align-items: center;
}

/* .table > * {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
} */

.table .row-divider {
  grid-column: 1 / -1;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
}

.table .row-divider.header {
  grid-column: 1 / -1;
  border-bottom: 2px solid black;
}

.shortcut-container {
  padding: 0.25rem 0;
  margin-left: -0.25rem;
}

.shortcut {
  display: inline-flex;
  margin: 0.25rem;
  padding: 0 0.5em;

  font-family: monospace;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}