.error-message {
  display: none;
  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  padding: 0.25rem 0.5rem;
  
  border-radius: 2px;
  border: 1px solid black;
  color: rgb(var(--error-color-rgb));
  background: rgb(var(--card-background-rgb));
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 15;
}