.align {
  padding: 0.25rem;
}

.premise-conclusion-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr auto 1fr;
}

.note {
  opacity: 0.75;
  font-size: 0.85rem;
  margin-top: -0.25rem;
}