.action-bar {
  position: sticky;
  top: 0;
  
  background: rgb(var(--card-background-rgb));
  border-bottom: 1px solid rgb(var(--text-rgb), 0.2);
  box-shadow: 0 -10px 30px rgba(0, 0, 50, 0.3);
  z-index: 5;
}

.categories {
  display: flex;
  padding: 0.5rem;
  padding-bottom: 0;
}

.category-button {
  padding: 0.125rem 0.75rem;

  font-size: 0.85rem;
  background: none;
  border: none;
  border-radius: 2px;
}

.category-button.selected {
  background: rgb(var(--text-rgb), 0.1);
}

.tab-content {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
}

.current-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}